<!-- Footer
    ============================================= -->
<footer id="footer">

  <div class="container">


    <!-- Copyrights
          ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col-md-6">
          Copyrights &copy; 2016 All Rights Reserved by Wukong Team.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a>|<a href="#">Privacy Policy</a></div>
        </div>


        <div class="col-md-6">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-dark si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-dark si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

        </div>

      </div>

    </div><!-- #copyrights end -->

  </div>
</footer><!-- #footer end -->
