<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
  <meta name="author" content="SemiColonWeb"/>

  <!-- Stylesheets
    ============================================= -->
  <link
    href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic"
    rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css"/>
  <link rel="stylesheet" href="/style.css" type="text/css"/>
  <link rel="stylesheet" href="/css/dark.css" type="text/css"/>
  <link rel="stylesheet" href="/css/font-icons.css" type="text/css"/>
  <link rel="stylesheet" href="/css/animate.css" type="text/css"/>
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css"/>

  <link rel="stylesheet" href="/css/responsive.css" type="text/css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/css/bootstrap-social.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- External JavaScripts
    ============================================= -->
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/plugins.js"></script>

  <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
  <script type="text/javascript" src="/include/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
  <script type="text/javascript" src="/include/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

  <!-- SLIDER REVOLUTION 5.x CSS SETTINGS -->
  <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/settings.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/layers.css">
  <link rel="stylesheet" type="text/css" href="/include/rs-plugin/css/navigation.css">

  <!-- Document Title
    ============================================= -->
  <title>Student Management System | BitTiger</title>

  <style>

    .revo-slider-emphasis-text {
      font-size: 64px;
      font-weight: 700;
      letter-spacing: -1px;
      font-family: '微软雅黑', sans-serif;
      padding: 15px 20px;
      border-top: 2px solid #FFF;
      border-bottom: 2px solid #FFF;
    }

    .revo-slider-desc-text {
      font-size: 20px;
      font-family: '微软雅黑', sans-serif;
      width: 650px;
      text-align: center;
      line-height: 1.5;
    }

    .revo-slider-caps-text {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 3px;
      font-family: '微软雅黑', sans-serif;
    }

    .tp-video-play-button {
      display: none !important;
    }

    .tp-caption {
      white-space: nowrap;
    }

  </style>

</head>

<body class="stretched">

{{{body}}}
<!-- Go To Top
  ============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- Footer Scripts
  ============================================= -->
<script type="text/javascript" src="/js/functions.js"></script>

<!-- Google Analytics
  ============================================= -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-43031290-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
