<!DOCTYPE html>
<html>
<head>
  <title>wukong</title>
  <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css"/>
  <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet" type="text/css" href="/dist/css/all.css">
</head>
<body ng-app="wukong" ng-cloak>

<div ui-view></div>

<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-aria/angular-aria.js"></script>
<script src="/bower_components/angular-messages/angular-messages.js"></script>
<script src="/bower_components/angular-material/angular-material.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/dist/js/app.js"></script>
</body>
</html>
