<div>
    <md-tabs md-selected="data.selectedIndex" >
      <md-tab id="tab1">
        <md-tab-label>Project Options</md-tab-label>
        <md-tab-body>
            <div ng-controller = "ProjectListController">
                <md-list-item class="md-2-line" ng-repeat="p in projects" ng-click="null">
                <img ng-src="{{p.thumbnail}}" class="md-avatar"/>
                  <div class="md-list-item-text" layout="column">
                    <h3>{{p.projectName}}</h3>
                    <p>
                    <md-button class = "project-button">Join</md-button>
                    <md-button class = "project-button">Detail</md-button></p>
                  </div>
                  <md-divider ng-if="!$last"></md-divider>
                </md-list-item>
        </div>
        </md-tab-body>
      </md-tab>
      <md-tab id="tab2">
        <md-tab-label>Existing Repositories</md-tab-label>
        <md-tab-body>
          View for Item #2 
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>




