<div>
    <div class="form-group" ng-class="{'has-error' : !inputModel}">
      <div class="col-sm-12" style="text-align: center; border: solid 1px black">
        <h3>User Name</h3>
        <span>Beginner</span>
      </div>
      <div ng-repeat="i in range">
        <input class="form-control"
               type="button"
               ng-model="inputModel"
               uib-tooltip="Enter something in this input field to disable this tooltip"
               tooltip-placement="left"
               tooltip-trigger="mouseenter"
               tooltip-enable="!inputModel"
               value={{i.label}}>

      </div>

    </div>
</div>
