<div layout="row">
  <div flex>
    <welcome-title></welcome-title>
  </div>
</div>

<div layout="row">
  <div flex>
    <text-divider></text-divider>
  </div>
</div>

<div layout="row" class="main">
  <div flex=50>
    <div layout="column">
      <div flex flex-offset="35">
        <dynamic-news></dynamic-news>
      </div>
      <div flex flex-offset="35">
        <project-list></project-list>
      </div>
    </div>
  </div>
  <div flex=50 flex-offset="20">
    <user-attribute-board></user-attribute-board>
  </div>
</div>
