<!-- Page Title
    ============================================= -->
<div class="page-not-found-img"></div>

<!-- Sytle sheet
    ============================================= -->
<style>


  .page-not-found-img {
    height:950px;
    background-image: url("images/404_page.gif");
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  .footer {
    position: relative;
    background-color: #444;
    color: #f0f0f0;
  }

</style>
