
<!-- Content
     ============================================= -->

<!-- Slider
    ============================================= -->
<section id="slider" class="slider-parallax revslider-wrap clearfix">

  <!--
        #################################
            - THEMEPUNCH BANNER -
        #################################
        -->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>    <!-- SLIDE  -->
        <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/2.jpg" data-delay="12000" data-saveperformance="off"
            data-title="太阁实验室">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/2.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on"
               data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
               data-bgpositionend="right center">
          <!-- LAYERS -->

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="600"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">你好
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="597"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 60px;">太阁实验室
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
               data-x="600"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 550px; white-space: normal;">
            BitTiger.io(太阁实验室)是以project－driven的项目实战学习平台，"太阁实验室"的口号是：“有趣，有用，有效”; 刷项目，做实战，捅破技术的那层纸。
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="600"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="http://bittiger.io/"
                                                                     class="button button-white button-light button-border button-large button-rounded tright nomargin"><span>访问官网</span>
            <i class="icon-angle-right"></i></a></div>

        </li>
        <!-- SLIDE  -->
        <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/1.jpg" data-delay="10000" data-saveperformance="off"
            data-title="项目挑战">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/1.jpg" alt="kenburns6" data-bgposition="center top" data-kenburns="on"
               data-duration="10000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100"
               data-bgpositionend="center center">
          <!-- LAYERS -->

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="0"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff;">简单注册便可进行项目实战
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="-3"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff; font-size: 60px;">挑战你感兴趣的项目
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
               data-x="0"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn"
               style="z-index: 3; color: #ffffff; max-width: 550px; white-space: normal;">使用我们的小组匹配系统来帮您寻找最适合您和您感兴趣的项目
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="0"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#"
                                                                     class="button button-3d button-black button-large button-rounded tright nomargin"
                                                                     style="color: #FFF;"><span>现在就加入</span> <i
                  class="icon-angle-right"></i></a></div>

        </li>
        <!-- SLIDE  -->
        <li class="dark" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/3.jpg" data-delay="12000" data-saveperformance="off"
            data-title="一年50个项目课题">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/3.jpg" alt="kenburns3" data-bgposition="left top" data-kenburns="on"
               data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
               data-bgpositionend="right bottom">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="440"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">帮助您实现全栈工程师的梦想
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="287"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">一年50个项目课题
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text"
               data-x="245"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">
            从前端到后端，从网页端到移动端，从最基础的理论到最新的技术分享，太阁为您创造了一个最优越的软件学习和交流环境。
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="496"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#"
                                                                     class="button button-border button-white button-light button-large button-rounded tright nomargin"><span>项目展示</span>
            <i class="icon-angle-right"></i></a></div>
        </li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {

      var apiRevoSlider = tpj('.tp-banner').show().revolution(
              {
                sliderType: "standard",
                jsFileLocation: "include/rs-plugin/js/",
                dottedOverlay: "none",
                delay: 16000,
                startwidth: 1140,
                startheight: 600,
                hideThumbs: 200,

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,

                navigation: {
                  keyboardNavigation: "on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  },
                  thumbnails: {
                    style: "hesperiden",
                    enable: true,
                    width: 100,
                    height: 50,
                    min_width: 100,
                    wrapper_padding: 5,
                    wrapper_color: "#ffffff",
                    wrapper_opacity: "0.5",
                    tmp: '<span class="tp-thumb-image"></span><span class="tp-thumb-title">{{title}}</span>',
                    visibleAmount: 5,
                    hide_onmobile: false,
                    hide_onleave: false,
                    direction: "horizontal",
                    span: false,
                    position: "inner",
                    space: 5,
                    h_align: "right",
                    v_align: "bottom",
                    h_offset: 20,
                    v_offset: 50
                  }
                },

                touchenabled: "on",
                onHoverStop: "on",

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

                keyboardNavigation: "off",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: "off",
                fullScreen: "on",

                spinner: "spinner4",

                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: "off",

                autoHeight: "off",
                forceFullWidth: "off",


                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
              });

    }); //ready

  </script>

  <!-- END REVOLUTION SLIDER -->

</section>

<!-- Header
    ============================================= -->
{{> header }}

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/3.jpg" alt="Why choose Us?">
          </div>
          <div class="fbox-desc">
            <h3>周一三人行<a href="https://attendee.gotowebinar.com/register/4970996894834526465"> <span
                    class="link">注册链接</span></a></h3>
            <p>又称为Crossfire，有点类似于凤凰卫视铿锵三人行的show，围绕一定的主题但是相对比较free-style。目前举办的活动有NGINX, Mock Interview等等。</p>
          </div>
        </div>
      </div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/16.jpg" alt="Why choose Us?">
          </div>
          <div class="fbox-desc">
            <h3>周三技术秀<a href="https://attendee.gotowebinar.com/register/1150708559813755649"><span
                    class="link">注册链接</span></a></h3>
            <p>BitTiger的联合创始人冯沁原会根据学生们的投票来选择技术主题，譬如讲过的设计Kafka，设计Spark等等。计划是两年100场tech shows。</p>
          </div>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/12.jpg" alt="Why choose Us?">
          </div>
          <div class="fbox-desc">
            <h3>周六微项目<a href="https://attendee.gotowebinar.com/register/4863986925724089089"><span
                    class="link">注册链接</span></a></h3>
            <p>由具有工作经验的project leader一步步教你如何实现一个Micro Project，譬如Mini-Flickr, Crawler, Recomender，AR/VR。</p>
          </div>
        </div>
      </div>

      <div class="clear"></div>

    </div>

    <div class="section dark bottommargin-lg" style="height: 500px;">
      <div class="container center clearfix vertical-middle">

        <i class="i-plain i-xlarge icon-lab2 divcenter bottommargin"></i>

        <div class="slider-caption slider-caption-center">
          <h2 data-animate="fadeInUp">最强的导师团队</h2>
          <p data-animate="fadeInUp" data-delay="200">"Momentum poverty tackling fellows social impact. Expanding
            community ownership, future affiliate protect civil society. Bloomberg."</p>
        </div>

      </div>
      <div class="video-wrap">
        <video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
          <source src='images/videos/explore.mp4' type='video/mp4'/>
          <source src='images/videos/explore.webm' type='video/webm'/>
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.35);"></div>
      </div>
    </div>

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/glass.png" alt="Icon" data-animate="zoomIn"></a>
          </div>
          <h3>Hori-Item<span class="subtitle">Subtitle</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/fork.png" alt="Icon" data-animate="zoomIn"
                             data-delay="200"></a>
          </div>
          <h3>Hori-Item<span class="subtitle">Subtitle</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/cup.png" alt="Icon" data-animate="zoomIn" data-delay="400"></a>
          </div>
          <h3>Hori-Item<span class="subtitle">Subtitle</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/tea.png" alt="Icon" data-animate="zoomIn" data-delay="600"></a>
          </div>
          <h3>Hori-Item<span class="subtitle">Subtitle</span></h3>
        </div>
      </div>

      <div class="clear"></div>

    </div>

    <div class="section nobg topmargin-lg nobottommargin">
      <div class="container clearfix">

        <div class="col_half nobottommargin center">

          <img src="/images/wukong/software%20development.png" alt="Image" data-animate="fadeInLeft">

        </div>

        <div class="col_half nobottommargin col_last">

          <div class="heading-block" style="padding-top: 40px;">

            <h2>新兵训练营</h2>
            <span>我们的作用</span>

          </div>

          <p>
            对于每个wukong的使用者，他or她都有个专属的profile，就像linkedin一样你可以填写各种信息，或者直接连接linkedin，一键补全，万事无休。在个人主页里还会显示你subscribe的信息，各种关键信息不再错过。在navigation
            bar上，除了你自己的个人主页，还有两个选项（tab），training system和teaming system。Training
            system有各种练级打怪升级的秘籍，无论你是想成为个好组长，还是一个full stack的万能手，还是名震天下的蓝翔数据挖掘机。Training
            System的一系列培养方案，只有你想不到，没有我们做不到的。如果你觉得你已经ready好，请移步teaming
            system。组队系统分成三部分：人才池，队伍池和项目池。你，就是我们的人才。点击进入人才池，你就会看到无数个其他人才图像的缩略图，有没有一种韩信点将，号令天下的即视感呢？只要你点击进去就能看到不同人才的具体信息。接着，你可以通过加好友，联系对方，用心交流。如果早已一见钟情，可以直接在队伍池创建队伍。队伍池里可以创建多个项目，而创建的项目也会自动在项目池里产生，让你一览无遗。当然你也可以选择在队伍池里初建项目，吸引各方人才到你麾下</p>

          <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">查看详细</a>

        </div>

      </div>
    </div>

    <!--<div class="section nobg notopmargin noborder bottommargin-sm">
                <div class="container clearfix">

                    <div class="col_half nobottommargin">

                        <div class="heading-block" style="padding-top: 40px;">

                            <h2>项目展示 - 2</h2>
                            <span>实用技术：</span>

                        </div>

                        <p>项目描述： </p>

                        <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">查看详情</a>

                    </div>

                    <div class="col_half bottommargin-sm center col_last">

                        <img src="images/wukong/22.png" alt="Image" data-animate="fadeInRight">

                    </div>

                </div>
            </div>
            -->

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">

        <div class="fancy-title title-border">
          <h4>Weely Show Hours</h4>
        </div>

        <p>Show is arranged in a weekly base.</p>

        <ul class="iconlist nobottommargin">
          <li><i class="icon-time color"></i> <strong>Crossfire: </strong>Monday: 10:30PM to 11:30PM EST</li>
          <li><i class="icon-time color"></i> <strong>Talkshow: </strong>Wednesday: 10:30PM to 11:30PM EST</li>
          <li><i class="icon-time color"></i> <strong>MicroProject: </strong>Saturday: 10:30PM to 11: 30PM EST</li>
        </ul>

      </div>

      <div class="col_one_fourth nobottommargin">

        <div class="fancy-title title-border">
          <h4>Our Project List</h4>
        </div>

        <p>Project Detail</p>

        <a href="#" class="button button-rounded button-dark noleftmargin"><i class="icon-file-alt"></i> Browse
          Projects</a>

      </div>

      <div class="col_half nobottommargin col_last">

        <div class="fancy-title title-border">
          <h4>Project Gallery</h4>
        </div>

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
          <a href="/images/wukong/3.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/3.jpg"
                                                                           alt="Gallery Thumb 1"
                                                                           data-animate="zoomIn"></a>
          <a href="images/wukong/5.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                          src="/images/wukong/thumb/gallery/5.jpg"
                                                                          alt="Gallery Thumb 2" data-animate="zoomIn"
                                                                          data-delay="100"></a>
          <a href="/images/wukong/6.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/6.jpg"
                                                                           alt="Gallery Thumb 3" data-animate="zoomIn"
                                                                           data-delay="200"></a>
          <a href="/images/wukong/7.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/7.jpg"
                                                                           alt="Gallery Thumb 4" data-animate="zoomIn"
                                                                           data-delay="300"></a>
          <a href="images/wukong/8.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                          src="/images/wukong/thumb/gallery/8.jpg"
                                                                          alt="Gallery Thumb 5" data-animate="zoomIn"
                                                                          data-delay="400"></a>
          <a href="images/wukong/10.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/10.jpg"
                                                                           alt="Gallery Thumb 6" data-animate="zoomIn"
                                                                           data-delay="500"></a>
          <a href="/images/wukong/11.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                            src="/images/wukong/thumb/gallery/11.jpg"
                                                                            alt="Gallery Thumb 7"
                                                                            data-animate="zoomIn"
                                                                            data-delay="600"></a>
          <a href="images/wukong/12.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/12.jpg"
                                                                           alt="Gallery Thumb 8" data-animate="zoomIn"
                                                                           data-delay="700"></a>
        </div>

      </div>

    </div>

    <div class="section parallax noborder dark footer-stick topmargin-lg"
         style="background-image: url('/images/wukong/4.jpg'); padding: 80px 0;" data-stellar-background-ratio="0.3">
      <div class="container clearfix">
        <div class="col_three_fifth nobottommargin">

          <div class="heading-block nobottomborder">
            <h3>学员分享</h3>
          </div>

          <div class="fslider wukong-reviews" data-arrows="false" data-animation="slide">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <p class="lead">
                    "曾参加过很多的培训，学过很多的理论，总结果很多的经验，但在工作中并没有产生实际的效应；通过太阁，让我能真正的将培训所学到的运用到工作中去，成为我们执行过程中的一种有效工具，其实这就是一种有执行力的表现。"</p>
                  <span><strong>小红</strong>, 纽约大学</span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star3"></i> <i class="icon-star-half-full"></i>
                </div>
                <div class="slide">
                  <p class="lead">
                    "因为自己的爱好是编程，所以学起java来也算是得心应手，很多难点也迎刃而解。然而自己还是学到很多，一些好的编程习惯，许多技巧都使自己获益匪浅，尤其是到了后面的项目实践，更是学会了如何与人合作，也明白了个人英雄主义的缺陷，一个人无力完成一个项目，在短短的几个星期内，一个完成的系统便建立完成，我再次体会到集体的力量。"</p>
                  <span><strong>小王</strong>, 南加利福尼亚大学</span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star-half-full"></i> <i class="icon-star-empty"></i>
                </div>
                <div class="slide">
                  <p class="lead">
                    "从太阁我还学到了团队的重要，一个项目可以一个人完成，那已经是很痛苦了，但是如果有一个大项目就必须由一个团队来完成，一个人技术强不算强，一个团队技术强才叫强，这样合作起来可以更快的把一个项目完成，而个人来说，也不会感到非常吃力，分工合作对于开发一个项目来说是重要的一步，在分工的时候必须分工明确，不然在开发过程中会出现错乱。"</p>
                  <span><strong>小杨</strong>, 英属哥伦比亚大学</span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star3"></i> <i class="icon-star-empty"></i>
                </div>
              </div>
            </div>
          </div>

          <style>
            .wukong-reviews .flex-control-nav {
              top: auto;
              bottom: 25px;
            }
          </style>

        </div>
      </div>
    </div>

  </div>
</section><!-- #content end -->

<!-- Footer
    ============================================= -->
{{> footer }}
