
<!-- Content
     ============================================= -->

<!-- Slider
    ============================================= -->
<section id="slider" class="slider-parallax revslider-wrap clearfix">

  <!--
        #################################
            - THEMEPUNCH BANNER -
        #################################
        -->
  <div class="tp-banner-container">
    <div class="tp-banner">
      <ul>    <!-- SLIDE  -->
        <li class="dark" data-transition="fade" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/2.jpg" data-delay="12000" data-saveperformance="off"
            data-title="太阁实验室">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/2.jpg" alt="kenburns1" data-bgposition="left center" data-kenburns="on"
               data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
               data-bgpositionend="right center">
          <!-- LAYERS -->

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="600"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">太阁X：
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="597"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; font-size: 60px;">“有趣，有用，有效”学习
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
               data-x="600"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 550px; white-space: normal;">
            量身打造最合适的实战项目，发现，分享，解决问题，并肩奋斗
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="600"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="http://bittiger.io/"
                                                                     class="button button-white button-light button-border button-large button-rounded tright nomargin"><span>访问官网</span>
            <i class="icon-angle-right"></i></a></div>

        </li>
        <!-- SLIDE  -->
        <li data-transition="slidedown" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/1.jpg" data-delay="10000" data-saveperformance="off"
            data-title="项目挑战">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/1.jpg" alt="kenburns6" data-bgposition="center top" data-kenburns="on"
               data-duration="10000" data-ease="Linear.easeNone" data-scalestart="120" data-scaleend="100"
               data-bgpositionend="center center">
          <!-- LAYERS -->

          <!-- LAYER NR. 2 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="0"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff;">太阁学员：
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="-3"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; color: #ffffff; font-size: 60px;">聚成一团火，散则满天星
          </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
               data-x="0"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn"
               style="z-index: 3; color: #ffffff; max-width: 550px; white-space: normal;">我们身怀绝技，勇于创新，独树一帜，共同见证一路成长，熠熠生辉
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="0"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#"
                                                                     class="button button-3d button-black button-large button-rounded tright nomargin"
                                                                     style="color: #FFF;"><span>现在就加入</span> <i
                  class="icon-angle-right"></i></a></div>

        </li>
        <!-- SLIDE  -->
        <li class="dark" data-transition="slideleft" data-slotamount="1" data-masterspeed="1500"
            data-thumb="images/wukong/slider/thumb/3.jpg" data-delay="12000" data-saveperformance="off"
            data-title="一年50个项目课题">
          <!-- MAIN IMAGE -->
          <img src="/images/wukong/slider/3.jpg" alt="kenburns3" data-bgposition="left top" data-kenburns="on"
               data-duration="12000" data-ease="Linear.easeNone" data-scalestart="130" data-scaleend="100"
               data-bgpositionend="right bottom">
          <!-- LAYERS -->

          <!-- LAYER NR. 1 -->
          <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
               data-x="287"
               data-y="215"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1000"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">组队系统：
             </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
               data-x="287"
               data-y="230"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1200"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;">自由而高效的组队系统
             </div>

          <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
               data-x="287"
               data-y="340"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1400"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3; max-width: 650px; white-space: normal;">带着专属您的profile, 寻找真正志同道合的队员，协作创建实践项目
          </div>

          <div class="tp-caption customin ltl tp-resizeme"
               data-x="496"
               data-y="450"
               data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;s:800;e:Power4.easeOutQuad;"
               data-speed="800"
               data-start="1550"
               data-easing="easeOutQuad"
               data-splitin="none"
               data-splitout="none"
               data-elementdelay="0.01"
               data-endelementdelay="0.1"
               data-endspeed="1000"
               data-endeasing="Power4.easeIn" style="z-index: 3;"><a href="#"
                                                                     class="button button-border button-white button-light button-large button-rounded tright nomargin"><span>项目展示</span>
            <i class="icon-angle-right"></i></a></div>
        </li>
      </ul>
    </div>
  </div>

  <script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function() {

      var apiRevoSlider = tpj('.tp-banner').show().revolution(
              {
                sliderType: "standard",
                jsFileLocation: "include/rs-plugin/js/",
                dottedOverlay: "none",
                delay: 16000,
                startwidth: 1140,
                startheight: 600,
                hideThumbs: 200,

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,

                navigation: {
                  keyboardNavigation: "on",
                  keyboard_direction: "horizontal",
                  mouseScrollNavigation: "off",
                  onHoverStop: "off",
                  touch: {
                    touchenabled: "on",
                    swipe_threshold: 75,
                    swipe_min_touches: 1,
                    swipe_direction: "horizontal",
                    drag_block_vertical: false
                  },
                  thumbnails: {
                    style: "hesperiden",
                    enable: true,
                    width: 100,
                    height: 50,
                    min_width: 100,
                    wrapper_padding: 5,
                    wrapper_color: "#ffffff",
                    wrapper_opacity: "0.5",
                    tmp: '<span class="tp-thumb-image"></span><span class="tp-thumb-title">{{title}}</span>',
                    visibleAmount: 5,
                    hide_onmobile: false,
                    hide_onleave: false,
                    direction: "horizontal",
                    span: false,
                    position: "inner",
                    space: 5,
                    h_align: "right",
                    v_align: "bottom",
                    h_offset: 20,
                    v_offset: 50
                  }
                },

                touchenabled: "on",
                onHoverStop: "on",

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

                keyboardNavigation: "off",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: 20,

                soloArrowLeftHalign: "left",
                soloArrowLeftValign: "center",
                soloArrowLeftHOffset: 20,
                soloArrowLeftVOffset: 0,

                soloArrowRightHalign: "right",
                soloArrowRightValign: "center",
                soloArrowRightHOffset: 20,
                soloArrowRightVOffset: 0,

                shadow: 0,
                fullWidth: "off",
                fullScreen: "on",

                spinner: "spinner4",

                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: "off",

                autoHeight: "off",
                forceFullWidth: "off",


                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
              });

    }); //ready

  </script>

  <!-- END REVOLUTION SLIDER -->

</section>

<!-- Header
    ============================================= -->
{{> header }}

<!-- Content
    ============================================= -->
<section id="content">

  <div class="content-wrap">

    <div class="container clearfix">

      <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/project.gif" alt="Project?" style = "width:400px; height:250px;">
          </div>
          <div class="fbox-desc">
            <h3>Project track:<a href="https://attendee.gotowebinar.com/register/4970996894834526465"> <span
                    class="link">精于理论，强于实践</span></a></h3>
            <p>3-5人成立为期一月的项目小组，探索最热门技术话题，共同完成项目任务</p>
          </div>
        </div>
      </div>

      <div class="col_one_third nobottommargin">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/kaggle.png" alt="Why choose Us?" style = "width:400px; height:250px;">
          </div>
          <div class="fbox-desc">
            <h3>kaggle track:<a href="https://attendee.gotowebinar.com/register/1150708559813755649"><span
                    class="link">数据科学绝妙的实战平台</span></a></h3>
            <p>Google Staff Engineer助你更有层次地，针对性地玩好kaggle</p>
          </div>
        </div>
      </div>

      <div class="col_one_third nobottommargin col_last">
        <div class="feature-box media-box">
          <div class="fbox-media">
            <img src="/images/wukong/thumb/mooc.png" alt="Why choose Us?" style = "width:400px; height:250px;">
          </div>
          <div class="fbox-desc">
            <h3>Mooc Track:<a href="https://attendee.gotowebinar.com/register/4863986925724089089"><span
                    class="link">Mooc资源，你我相连</span></a></h3>
            <p>搭建mooc与优质BitTiger实战项目的桥梁，组团学习大型公开课程，刷特色小项目</p>
          </div>
        </div>
      </div>

      <div class="clear"></div>

    </div>

    <div class="section dark bottommargin-lg" style="height: 500px;">
      <div class="container center clearfix vertical-middle">

        <i class="i-plain i-xlarge icon-lab2 divcenter bottommargin"></i>

        <div class="slider-caption slider-caption-center">
          <h2 data-animate="fadeInUp">平台介绍</h2>
          <p data-animate="fadeInUp" data-delay="200">"最专业的导师团队，最顶尖的靠谱队友，带您从“零技能”迅速成长为“至尊黑客”，技术与艺术双馨。"</p>
        </div>

      </div>
      <div class="video-wrap">
        <video poster="images/videos/explore.jpg" preload="auto" loop autoplay muted>
          <source src='images/videos/explore.mp4' type='video/mp4'/>
          <source src='images/videos/explore.webm' type='video/webm'/>
        </video>
        <div class="video-overlay" style="background-color: rgba(0,0,0,0.35);"></div>
      </div>
    </div>

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/glass.png" alt="Icon" data-animate="zoomIn"></a>
          </div>
          <h3>声望<span class="subtitle">解决问题，分享心得，完成任务，帮助他人，成为众所仰望。</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/fork.png" alt="Icon" data-animate="zoomIn"
                             data-delay="200"></a>
          </div>
          <h3>品行<span class="subtitle">团队中的表现（工作完成时间及质量，沟通顺畅，合作精神等），得到他人认可
</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/cup.png" alt="Icon" data-animate="zoomIn" data-delay="400"></a>
          </div>
          <h3>领导力<span class="subtitle">自身修炼及管理团队能力需经过严格审核。领导力 决定未来带领团队的人数。经验值上升，队伍不断庞大。</span></h3>
        </div>
      </div>

      <div class="col_one_fourth nobottommargin col_last">
        <div class="feature-box fbox-center fbox-plain nobottomborder">
          <div class="fbox-icon">
            <a href="#"><img src="/images/icons/wukong/tea.png" alt="Icon" data-animate="zoomIn" data-delay="600"></a>
          </div>
          <h3>技术参数<span class="subtitle">各个领域“职业技能”，随着项目开发与完成，动态提升</span></h3>
        </div>
      </div>

      <div class="clear"></div>

    </div>

    <div class="section nobg topmargin-lg nobottommargin">
      <div class="container clearfix">

        <div class="col_half nobottommargin center">

          <img src="/images/wukong/software%20development.png" alt="Image" data-animate="fadeInLeft">

        </div>

        <div class="col_half nobottommargin col_last">

          <div class="heading-block" style="padding-top: 40px;">

            <h2>新兵训练营</h2>
            <span>我们的作用</span>

          </div>

          <p>
            对于每个wukong的使用者，他or她都有个专属的profile，就像linkedin一样你可以填写各种信息，或者直接连接linkedin，一键补全，万事无休。在个人主页里还会显示你subscribe的信息，各种关键信息不再错过。在navigation
            bar上，除了你自己的个人主页，还有两个选项（tab），training system和teaming system。Training
            system有各种练级打怪升级的秘籍，无论你是想成为个好组长，还是一个full stack的万能手，还是名震天下的蓝翔数据挖掘机。Training
            System的一系列培养方案，只有你想不到，没有我们做不到的。如果你觉得你已经ready好，请移步teaming
            system。组队系统分成三部分：人才池，队伍池和项目池。你，就是我们的人才。点击进入人才池，你就会看到无数个其他人才图像的缩略图，有没有一种韩信点将，号令天下的即视感呢？只要你点击进去就能看到不同人才的具体信息。接着，你可以通过加好友，联系对方，用心交流。如果早已一见钟情，可以直接在队伍池创建队伍。队伍池里可以创建多个项目，而创建的项目也会自动在项目池里产生，让你一览无遗。当然你也可以选择在队伍池里初建项目，吸引各方人才到你麾下</p>

          <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">查看详细</a>

        </div>

      </div>
    </div>

    <!--<div class="section nobg notopmargin noborder bottommargin-sm">
                <div class="container clearfix">

                    <div class="col_half nobottommargin">

                        <div class="heading-block" style="padding-top: 40px;">

                            <h2>项目展示 - 2</h2>
                            <span>实用技术：</span>

                        </div>

                        <p>项目描述： </p>

                        <a href="#" class="button button-border button-large button-rounded topmargin-sm noleftmargin">查看详情</a>

                    </div>

                    <div class="col_half bottommargin-sm center col_last">

                        <img src="images/wukong/22.png" alt="Image" data-animate="fadeInRight">

                    </div>

                </div>
            </div>
            -->

    <div class="container clearfix">

      <div class="col_one_fourth nobottommargin">

        <div class="fancy-title title-border">
          <h4>Weely Show Hours</h4>
        </div>

        <p>Show is arranged in a weekly base.</p>

        <ul class="iconlist nobottommargin">
          <li><i class="icon-time color"></i> <strong>Crossfire: </strong>Monday: 10:30PM to 11:30PM EST</li>
          <li><i class="icon-time color"></i> <strong>Talkshow: </strong>Wednesday: 10:30PM to 11:30PM EST</li>
          <li><i class="icon-time color"></i> <strong>MicroProject: </strong>Saturday: 10:30PM to 11: 30PM EST</li>
        </ul>

      </div>

      <div class="col_one_fourth nobottommargin">

        <div class="fancy-title title-border">
          <h4>Our Project List</h4>
        </div>

        <p>Project Detail</p>

        <a href="#" class="button button-rounded button-dark noleftmargin"><i class="icon-file-alt"></i> Browse
          Projects</a>

      </div>

      <div class="col_half nobottommargin col_last">

        <div class="fancy-title title-border">
          <h4>Project Gallery</h4>
        </div>

        <div class="masonry-thumbs col-4 clearfix" data-lightbox="gallery" style="width: 100.3%;">
          <a href="/images/wukong/3.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/3.jpg"
                                                                           alt="Gallery Thumb 1"
                                                                           data-animate="zoomIn"></a>
          <a href="images/wukong/5.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                          src="/images/wukong/thumb/gallery/5.jpg"
                                                                          alt="Gallery Thumb 2" data-animate="zoomIn"
                                                                          data-delay="100"></a>
          <a href="/images/wukong/6.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/6.jpg"
                                                                           alt="Gallery Thumb 3" data-animate="zoomIn"
                                                                           data-delay="200"></a>
          <a href="/images/wukong/7.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/7.jpg"
                                                                           alt="Gallery Thumb 4" data-animate="zoomIn"
                                                                           data-delay="300"></a>
          <a href="images/wukong/8.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                          src="/images/wukong/thumb/gallery/8.jpg"
                                                                          alt="Gallery Thumb 5" data-animate="zoomIn"
                                                                          data-delay="400"></a>
          <a href="images/wukong/10.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/10.jpg"
                                                                           alt="Gallery Thumb 6" data-animate="zoomIn"
                                                                           data-delay="500"></a>
          <a href="/images/wukong/11.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                            src="/images/wukong/thumb/gallery/11.jpg"
                                                                            alt="Gallery Thumb 7"
                                                                            data-animate="zoomIn"
                                                                            data-delay="600"></a>
          <a href="images/wukong/12.jpg" data-lightbox="gallery-item"><img class="image_fade"
                                                                           src="/images/wukong/thumb/gallery/12.jpg"
                                                                           alt="Gallery Thumb 8" data-animate="zoomIn"
                                                                           data-delay="700"></a>
        </div>

      </div>

    </div>

    <div class="section parallax noborder dark footer-stick topmargin-lg"
         style="background-image: url('/images/wukong/experience.jpeg'); padding: 80px 0;" data-stellar-background-ratio="0.3">
      <div class="container clearfix">
        <div class="col_three_fifth nobottommargin">

          <div class="heading-block nobottomborder">
            <h3>学员分享</h3>
          </div>

          <div class="fslider wukong-reviews" data-arrows="false" data-animation="slide">
            <div class="flexslider">
              <div class="slider-wrap">
                <div class="slide">
                  <p class="lead">
                    "参加学习小组的三个月是我coding综合技能提升最快的一段日子。工作中的事情做久了就形成一种不太有意义的重复：每天总是看相似的代码，用相同的技术，其实和流水线上的工人挺相似的。
相比起来，学习小组中我们可以自由组队、选项目，还有bittiger作为强大后盾在技术上提供帮助。另外团队合作中形成的责任感，以及在别的组员身上学习到的技术和视野，还有面对未知问题时对各种解决方案的探索，这些都让我不断前进。
总之，在这里，唯一的局限是你的想象力。"</p>
                  <span><strong>宁涛</strong></span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star3"></i> <i class="icon-star-half-full"></i>
                </div>
                <div class="slide">
                  <p class="lead">
                    "通过参加学习小组，认识到了志同道和的朋友和同事。在小组内几位前辈的拼搏精神和对新技术不停钻研永不停止提问的习惯的感染下，
                    我也渐渐初窥前端开发一小个角落。在组长的带领下和大家一起的努力下，wukong已经是一个颇具规模的web application，而我通过在参加学习小组期间自学到的知识和前辈们的指点，顺利了拿到了人生第一份程序员工作。
                    从此我坚信，bittiger是程序员们的福音，在这里你可以认识最棒的同事，以及学到最有用的知识，你的成长，将会是以前的数倍。"</p>
                  <span><strong>言中</strong></span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star-half-full"></i> <i class="icon-star-empty"></i>
                </div>
                <div class="slide">
                  <p class="lead">
                    "BitTiger小组有着纯粹的凝聚力。组里所有人都对增强简历和经验有强烈的渴望，我们都肯在这个项目上花费相当的精力。能够拥有共同目标的队友是一个非常好也非常难遇的体验。
在BitTiger这个环境里，我自觉领导能力和自信得到了很大的提升。作为一个几乎没有领导团队经验的本科生，带领Master学生做项目，压力有点大。最后项目做了出来，我特别有成就感。
当你项目做得出彩了，还可以得到内推机会。另外，BitTiger里的业内牛人都很愿意提供帮助，他们中肯的意见帮助我做出一些职业生涯里的重要选择。
最重要的是， BitTiger可以帮助你实践酝酿已久的想法。从大四开始，我就希望把网页开发和大数据结合起来，这个想法在BitTiger的项目里得到部分实现。所以，如果你也有什么想法，又苦于没有志同道合的人和你共同进退，不妨考虑在BitTiger里面找队友吧。"</p>
                  <span><strong>Mark Chen</strong></span><br>
                  <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i
                        class="icon-star3"></i> <i class="icon-star-empty"></i>
                </div>
              </div>
            </div>
          </div>

          <style>
            .wukong-reviews .flex-control-nav {
              top: auto;
              bottom: 25px;
            }
          </style>

        </div>
      </div>
    </div>

  </div>
</section><!-- #content end -->

<!-- Footer
    ============================================= -->
{{> footer }}
